.loader {
  background-color: #e22717;
  z-index: 1600;
}

.background-green input[type="checkbox"]:checked {
  background-color: green;
}

.background-blue input[type="checkbox"]:checked {
  background-color: blue;
}

/* input[type="checkbox"][id="custom-green"]:checked {
  background-color: green;
}

input[type="checkbox"][id="custom-blue"]:checked {
  background-color: blue;
} */
